@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* HEADER STILIAI */
.header {
    height: 100px;
    background-color: #2aabd6;
    color: white;
}
.klaseFlex{
    display: flex;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.antriN{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    >a{
        text-decoration: none;
    }
}
.logoDydis {
    width: 50px;
    height: 50px;
    padding-bottom: 45px;
}
.antriH{
    padding-bottom: 20px;
    color: white;
    cursor: pointer;
}
.centerRigth {
    display: flex;
    gap: 20px;
    align-items: center;
}
.klaseA{
    text-decoration: none;
    color: white;
    transition: font-size 0.2s ease-in-out, color 0.3s ease-in-out;
}
.klaseA:hover{
    font-size: 22px;
}

/* HERO STILIAI */
.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideShow 25s infinite;
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 5s; }
.slide:nth-child(3) { animation-delay: 10s; }
.slide:nth-child(4) { animation-delay: 15s; }
.slide:nth-child(5) { animation-delay: 25s; }


@keyframes slideShow {
    0% { opacity: 0; }
    16% { opacity: 1; } 
    50% { opacity: 1; }
    66% { opacity: 0; }
    100% { opacity: 0; }
}

.infoBox {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    font-size: 18px;
}

.infoName {
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    >h1{
        margin-bottom: 0px;
        font-size: 66px
    }
    >h2{
        margin-top: 5px;
        font-size: 30px;
        font-weight: 400;
    }
}

/* BUTTONS STILIAI */
.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.buttons{
    margin: 80px 0;
    >h1{
        margin-bottom: 10px;
        text-align: center;
    }
}
.container {
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    >p{
        padding: 20px;
        margin-top: 0;
    }
}
.btn {
    background: #2aabd6;
    color: white;
    padding: 17px 17px;
    width: 200px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: black;
}

/* ADDITIONAL INFO STILIAI */
.imgFon {
    position: relative;
    background-image: url(./media/suniuku_foto.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    box-shadow: 0 0 100px #2aabd69c;
}
.imgFon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 187, 241, 0.219);
    z-index: 1;
}
.paramaH1 {
    padding-top: 40px;
    padding-left: 20px;
    position: relative;
    z-index: 2;
}

.buttonParama{
    background-color: #2aabd6;
    color: white;
    width: 200px;
    height: 60px;
    border: 2px solid #2aabd6;
    border-radius: 7px;
    font-size: larger;
    margin-left: 350px;
    margin-top: 150px;
}
.buttonParama:hover {
    background: black;
}
.content {
    margin-top: 20px;
    padding: 20px;
    border-radius: 7px;
    background: white;
    display: none;
}
.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
.icon-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon-box {
    width: 150px;
    padding: 15px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.icon-box img {
    width: 50px;
    height: 50px;
}
.icons {
    align-items: center;
}
.icon-row {
    flex-wrap: wrap;
}

/* FOOTER STILIAI */
footer {
    padding: 30px 50px;
    font-size: 25px;
    background-color: #2aabd6;
    color: white;
}
.footer-wrapper {
    position: relative;
    margin-top: 50px;
}
.footer-wrapper svg {
    left: 0;
    width: 100%;
    margin-bottom: -5px;
}
.section-title {
    margin-bottom: 3px;
    font-size: 0.95em;
}
.support-section {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 3px;
    flex-wrap: wrap;
}
.support-button {
    flex: 1;
    padding: 3px 10px;
    border-radius: 7px;
    text-align: center;
    background-color: #2aabd6;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 0.7em;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
}
.support-button:hover {
    background-color: black;
}
.icons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 3px;
    width: 100%;
}
.icon-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}
.icon-box {
    flex: 1 1 30%;
    max-width: 72px;
    padding: 1px;
    border-radius: 7px;
    text-align: center;
    font-size: 0.65em;
}
.icon-box img {
    width: 20px;
    height: 20px;
}

.fLogo {
    width: 100px;
    height: 100px;
}

.fGmail {
    width: 320px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    background-color: #edeff0;
}

.fSocial {
    text-decoration: none;
    padding: 5px;
    color: black;
    transition: font-size 0.4s ease-in-out, color 0.3s ease-in-out;
}
.fSocial:hover{
    color: white;
}
#fSubmitButton {
    height: 60px;
    width: 170px;
    border-radius: 7px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border: none;
    color: black;
}

#fSubmitButton:hover {
    background-color: white;
    cursor: pointer
}

.fH3{
    color: white;
}

.pRegistration {
    margin: 5px 0;
    font-size: 20px;
}

.rightsReserved {
    padding-top: 40px;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.footer-column{
    padding-top: 30px;
}

/* DESKTOP DESIGN KLASES */
@media (min-width: 900px) {
    /* HEADER DESKTOP */
    .antriN{
        gap: 20px;
    }
    .antriH{
        font-size: 35px;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
    .klaseFlex{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .klaseA{
        font-size: 20px;
    }
    .centerRigth{
        margin-top: 35px;
        gap: 40px;
    }
    .logoDydis{
        padding-bottom: 0px;
    }

    /* HERO DESKTOP */
    .infoName{
        >h1{
            font-size: 90px;
        }
    }
    .infoBox{
        margin-top: 20px;
        font-size: 19px;
    }

    /* FOOTER DESKTOP */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer-column {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .fLogo {
        width: 200px;
        height: 200px;
    }
    
    .fGmail {
        width: 400px;
        height: 40px;
    }

    #fSubmitButton {
        height: 70px;
        width: 200px;
    }
    
    #fSubmitButton:hover {
        background-color: #c6e2eb;
    }
    
    footer > .rightsReserved {
    grid-column: 1 / span 2; 
    text-align: center; 
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    }
}