
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.header {
    height: 100px;
    background-color: #2aabd6;
    color: white;
}
.logoDydis {
    width: 50px;
    height: 50px;
}
.klaseFlex{
    display: flex;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.centerRigth {
    display: flex;
    gap: 20px;
    /* text-align: center; */
    align-items: center;
}
.antriN{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}
.antriH{
    padding-bottom: 20px;
}
.klaseA{
    font-style: italic;
    text-decoration: none;
    color: white;
}
.imgStilFlex{
    background-image: url(./media/Gyvūnųzaislai.jpg);
    position: relative;
    width: 600px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.imgStilFlex {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.form-container {
    width: 600px; 
    height: 400px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    padding: 20px;
    box-sizing: border-box;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
input[type="number"], button {
    padding: 10px;
    margin: 10px 0; 
    font-size: 16px;
    border-radius: 5px; 
    border: 1px solid #007bb5; 
}
button {
    background-color: #007bb5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
}
button:hover {
    background-color: black;
}
label {
    font-size: 18px;
    font-weight: bold;
    color: #2aabd6;
    font-style: italic;
    font-size: 30px;
}
#thanksMessage {
    /* margin-top: 0px; */
    font-size: 50px;
    color: white;
}
.imgStilFlex2{
    position: relative;
    width: 600px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    box-shadow: 0 0 100px #2aabd69c;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.divParama p {
    margin: 0;
    word-wrap: break-word;
    color: black; 
    font-size: 15px;
    font-weight: bold;
}
.paramaH1 {
    color: black;
    padding-top: 20px;
}
@media (min-width: 900px) {
  /* main */
.imgStilFlex{
    width: 900px;
    height: 600px;
}
.form-container {
    width: 900px; 
    height: 600px; 
}
button {
    width: 240px;
 }
.imgStilFlex2{
    width: 900px;
    height: 200px;  
}   
.divParama{
    width: 800px;
    padding-left: 25px;
}
}

