
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.header {
    height: 100px;
    background-color: #2aabd6;
    color: white;
}
.logoDydis {
    width: 50px;
    height: 50px;
}
.klaseFlex{
    display: flex;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.centerRigth {
    display: flex;
    gap: 20px;
    /* text-align: center; */
    align-items: center;
}
.antriN{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}
.antriH{
    padding-bottom: 20px;
}
.klaseA{
    font-style: italic;
    text-decoration: none;
    color: white;
}
.imgStilFlex{
    background-image: url(./media/kaciuk.jpg);
    position: relative;
    width: 600px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    box-shadow: 0 0 100px #2aabd69c;
}

.imgStilFlex2{
    position: relative;
    width: 600px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    box-shadow: 0 0 100px #2aabd69c;
}
.imgParama{
    width: 150px;
    height: 150px;
}
.divParama {
  text-align: center;
}
.divParama p {
    margin: 0;
    word-wrap: break-word; /* Užtikrina, kad ilgi žodžiai nesulaužytų dizaino */
    color: #2aabd69c; 
    font-style: #2aabd69c;
    font-size: 20px;
    font-weight: bold;
}
.paramaH1{
    color: #2aabd69c;
}

/* paramos forma */
.form-container {
    /* display: grid; */
    /* margin-top: 20px; */
    gap: 5px;
}
input[type="number"] {
    /* padding: 10px; */
    width: 100px;
    margin-right: 10px;
    border: 2px solid #2aabd6;
    border-radius: 7px;
}
button {
    /* padding: 10px 20px; */
    background-color: #2aabd6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
button:hover {
    background-color: #1a8a9c;
}
#thanksMessage {
    margin-top: 20px;
    font-size: 20px;
    color: #2aabd6;
}
label {
    color: #2aabd6;
    font-style: italic;
}
