@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.laikinasHeader {
    background-color: aqua;
    height: 100px;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    width: 600px;
    height: 100px;
    background-color: #2aabd6;
    color: white;
}
.logoDydis {
    width: 50px;
    height: 50px;
}
.klaseFlex{
    display: flex;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
}
.centerRigth {
    display: flex;
    gap: 20px;
    /* text-align: center; */
    align-items: center;
}
.antriN{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}
.antriH{
    padding-bottom: 20px;
}
.klaseA{
    font-style: italic;
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-size: 16px;
    margin: 10px 0;
    display: block;
}

input, select, textarea {
    width: 100%;
    /* margin: 20px; */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #86c1df;
    border-radius: 7px;
    font-size: 16px;
}

input[type="radio"] {
    width: auto;
}

.form-group label {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 16px;
    margin: 0;
    padding: 7px;
}

.terms {
    width: 15px;
}

.submit-btn {
    background-color: #2aabd6;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
    margin: 0 auto; 
    display: block;
}

.submit-btn:hover {
    background-color: #1a8cba;
}

/* FOOTER */

footer {
    padding: 30px 50px;
    font-size: 25px;
    background-color: #2aabd6;
    color: white;
}

.footer-wrapper {
    position: relative;
    margin-top: 50px;
}

.footer-wrapper svg {
    left: 0;
    width: 100%;
    margin-bottom: -5px;
}

.fLogo {
    width: 100px;
    height: 100px;
}

.fGmail {
    width: 320px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    background-color: #edeff0;
}

.fSocial {
    text-decoration: none;
    padding: 5px;
    color: black;
}
#fSubmitButton {
    height: 60px;
    width: 170px;
    border-radius: 7px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border: none;
    color: black;
}

#fSubmitButton:hover {
    background-color: #c6e2eb;
}

.fH3{
    color: white;
}

.pRegistration {
    margin: 5px 0;
    font-size: 20px;
}

.rightsReserved {
    padding-top: 40px;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

@media (min-width: 900px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer-column {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .fLogo {
        width: 200px;
        height: 200px;
    }
    
    .fGmail {
        width: 400px;
        height: 40px;
    }

    #fSubmitButton {
        height: 70px;
        width: 200px;
    }
    
    #fSubmitButton:hover {
        background-color: #c6e2eb;
    }
    
    footer > .rightsReserved {
    grid-column: 1 / span 2; 
    text-align: center; 
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    }
}