@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 300vh;
}
.header{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    >nav{
        >ul{
            display: flex;
            gap: 5px;
        }
    }
}
.gyvunai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pridejimoInfo{
    background-color: #2aabd6;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >h1, p{
        margin: 0;
        padding: 10px;
    }
    >p{
        text-align: center;
    }
}
.top{
    background-color: #2aabd6;
    width: 350px;
    height: 50px;
}
.pridejimoForma{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    overflow: hidden;
    width: 350px;
}
.entry{
    margin-top: 20px;
    >div{
        display: flex;
        flex-direction: column;
        padding: 10px 40px;
        >label{
            font-weight: bold;
            padding-bottom: 5px;
            font-size: 16px;
        }
        >input, textarea{
            border: none;
            background-color: #2aabd642;
            border-radius: 7px;
            padding: 12px;
        }
        >textarea{
            height: 100px;
            resize: none;
        }
    }
    >div:nth-last-child(1){
        margin-top: 20px;
        margin-bottom: 20px;
        >button{
            font-weight: 600;
            border: none;
            border-radius: 7px;
            padding: 10px;
            background-color: #2aabd694;
            color: white;
        }
    }
}