@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 0;
    padding-left: 0;
}
.tarpineFoto{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.tarpineFoto::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2aabd659;
}
.pirma{
    background-image: url(./media/10773772.jpg);
    background-position: center bottom 500px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 90px 70px;
    border-radius: 7px;
    >h1{
        font-size: 2em;
    }
}
.header{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    >nav{
        >ul{
            display: flex;
            gap: 5px;
        }
    }
}
.gyvunai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pridejimoInfo{
    padding: 20px 0;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 90px 40px;
    border-radius: 7px;
    >h1, p{
        margin: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    >p{
        text-align: center;
    }
}
.top{
    background-color: #2aabd6;
    width: 450px;
    height: 50px;
}
.heading{
    >div{
        display: none;
    }
}
.pridejimoForma{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    overflow: hidden;
    width: 450px;
}
.entry{
    margin-top: 20px;
    >div{
        display: flex;
        flex-direction: column;
        padding: 10px 40px;
        >label{
            font-weight: bold;
            padding-bottom: 5px;
            font-size: 16px;
        }
        >input, textarea{
            border: none;
            background-color: #2aabd642;
            border-radius: 7px;
            padding: 12px;
        }
        >textarea{
            height: 100px;
            resize: none;
        }
    }
    >div:nth-last-child(1){
        margin-top: 20px;
        margin-bottom: 20px;
        >button{
            font-weight: 600;
            border: none;
            border-radius: 7px;
            padding: 10px;
            background-color: #2aabd694;
            color: white;
        }
    }
}
button {
    background-color: #2aabd6;
    color: white;
    padding: 12px 75px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #238db1;
}
.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.animal-card {
    padding: 20px;
    border-radius: 7px;
    width: 200px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    transition: height 0.3s ease;
    >img{
        width: 200px;
        height: 150px;
        border-radius: 5px;
    }
}

.more-info {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}
.more-info.open {
    max-height: 600px;
    opacity: 1;
    overflow: hidden;
}

@media (min-width: 900px){
    .animalsSection{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 50px 250px;
        padding: 40px 100px;
        border-radius: 7px;
    }
    .heading{
        flex-direction: column;
        text-align: center;
        gap: 0px;
        margin-bottom: 100px;
        >div{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            >p{
                margin: 5px;
            }
        }
    }
    .gyvunai{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 50px 250px;
        padding: 40px 100px;
        border-radius: 7px;
    }
    .pridejimoInfo{
        >p{
            line-height: 30px;
        }
    }
}