@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.header{
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    >nav{
        >ul{
            display: flex;
            gap: 5px;
        }
    }
}